Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Wgraj zawartość pliku orders.csv do ramki danych. Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/drive/MyDrive/LAB04_pandas cz2/orders.csv', sep=',')
print(data.head())
print(data.info())
print(data.describe())

   order_date  pages_visited         order_id customer_id  tshirt_category  \
0  2016/09/04              9  HTS-038040-0002      038040  White T-Shirt M
1  2014/11/14             11  HTS-801797-0001      801797  White T-Shirt M
2  2017/02/26             10  HTS-vft1eu-0003      vft1eu  White T-Shirt F
3  2013/12/01             10  HTS-914324-0001      914324      Wh Tshirt F
4  2015/10/22             12  HTS-88ua9r-0001      88ua9r  White T-Shirt M

   tshirt_price  tshirt_quantity
0          20.0                1
1          20.0                1
2          18.0                3
3          18.0                1
4          20.0                1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  object
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.4+ MB
None
       pages_visited  tshirt_price  tshirt_quantity
count   26552.000000  26552.000000     26552.000000
mean       10.838016     20.223768         2.693394
std         3.589299      2.220651         3.456182
min         2.000000     17.500000         1.000000
25%         8.000000     18.000000         1.000000
50%        11.000000     20.000000         2.000000
75%        13.000000     23.000000         3.000000
max        28.000000     24.000000        29.000000

Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;

In [3]:
data['order_date'] = pd.to_datetime(data['order_date'])
data

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;

In [4]:
print(data['tshirt_category'].unique)
print(data['tshirt_category'].nunique)

<bound method Series.unique of 0        White T-Shirt M
1        White T-Shirt M
2        White T-Shirt F
3            Wh Tshirt F
4        White T-Shirt M
              ...
26547    White T-Shirt M
26548    White T-Shirt M
26549    White T-Shirt M
26550             Hoodie
26551    Black T-Shirt M
Name: tshirt_category, Length: 26552, dtype: object>
<bound method IndexOpsMixin.nunique of 0        White T-Shirt M
1        White T-Shirt M
2        White T-Shirt F
3            Wh Tshirt F
4        White T-Shirt M
              ...
26547    White T-Shirt M
26548    White T-Shirt M
26549    White T-Shirt M
26550             Hoodie
26551    Black T-Shirt M
Name: tshirt_category, Length: 26552, dtype: object>

Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;

In [5]:
data['tshirt_category'].replace({'Wh Tshirt M':'White T-Shirt M', 
                                 'Wh Tshirt F':'White T-Shirt F', 
                                 'Bl Tshirt F': 'Black T-Shirt F',
                                 'Bl Tshirt M':'Black T-Shirt M', 
                                 'Tennis Shirt':'Other Tennis-Shirt M/F',
                                 'Hoodie':'Other Hoodie M/F'},
                                inplace = True)
print(data['tshirt_category'].unique())
print(data['tshirt_category'].nunique())

['White T-Shirt M' 'White T-Shirt F' 'Black T-Shirt F' 'Other Hoodie M/F'
 'Black T-Shirt M' 'Other Tennis-Shirt M/F']
6

Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.

In [6]:
data[['tshirt_color', 'tshirt_type', 'tshirt_sex']] = data['tshirt_category'].str.split(expand=True)
data

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_color,tshirt_type,tshirt_sex
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,White,T-Shirt,M
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,White,T-Shirt,M
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,White,T-Shirt,F
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,White,T-Shirt,F
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,White,T-Shirt,M
...,...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1,White,T-Shirt,M
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,White,T-Shirt,M
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1,White,T-Shirt,M
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Other Hoodie M/F,23.0,5,Other,Hoodie,M/F
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3,Black,T-Shirt,M

Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016

In [7]:
daterange = (data['order_date'] >= '2014-12-31') & (data['order_date'] <= '2016-08-16')

data = data.loc[daterange]
data

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_color,tshirt_type,tshirt_sex
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,White,T-Shirt,M
5,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,Black,T-Shirt,F
12,2015-11-24,15,HTS-je57lh-0001,je57lh,Other Hoodie M/F,23.0,3,Other,Hoodie,M/F
13,2015-10-10,8,HTS-252675-0002,252675,White T-Shirt M,20.0,3,White,T-Shirt,M
14,2016-08-15,6,HTS-049348-0004,049348,Black T-Shirt F,17.5,1,Black,T-Shirt,F
...,...,...,...,...,...,...,...,...,...,...
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,Other Hoodie M/F,23.0,1,Other,Hoodie,M/F
26535,2016-08-06,11,HTS-tz3xui-0001,tz3xui,White T-Shirt F,18.0,2,White,T-Shirt,F
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,White T-Shirt M,20.0,4,White,T-Shirt,M
26544,2016-08-11,12,HTS-g7pvsk-0001,g7pvsk,Other Hoodie M/F,23.0,1,Other,Hoodie,M/F
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,White,T-Shirt,M

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

Wgraj plik customers.csv do ramki danych.

In [8]:
import pandas as pd

data2 = pd.read_csv('/content/drive/MyDrive/LAB04_pandas cz2/customers.csv', sep=',')
data2

,customerID,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
...,...,...,...,...,...,...
18761,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

Wypisz kolumny;

In [9]:
data2.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

Zmień nazwę kolumny customerID na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;

In [10]:
data2.rename(columns = {'customerID' : 'customer_id'}, inplace = True)
data2

,customer_id,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
...,...,...,...,...,...,...
18761,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [11]:
# wybieram metodę merge

merged_data = pd.merge(data, data2, on = 'customer_id').reset_index(drop=True)
merged_data

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_color,tshirt_type,tshirt_sex,gender,birthdate,user_agent,ip_address,campaign
0,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,White,T-Shirt,M,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True
1,2016-07-23,5,HTS-88ua9r-0002,88ua9r,Other Hoodie M/F,23.0,2,Other,Hoodie,M/F,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True
2,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,Black,T-Shirt,F,F,1941/3/28,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,79.242.189.178,True
3,2015-05-09,13,HTS-061311-0002,061311,Black T-Shirt F,17.5,7,Black,T-Shirt,F,F,1941/3/28,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,79.242.189.178,True
4,2015-11-24,15,HTS-je57lh-0001,je57lh,Other Hoodie M/F,23.0,3,Other,Hoodie,M/F,M,1953/3/12,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,110.116.130.200,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13058,2016-04-27,11,HTS-582873-0002,582873,White T-Shirt M,20.0,3,White,T-Shirt,M,M,1974/1/21,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) ...,79.116.70.161,False
13059,2016-07-08,9,HTS-vjfwqb-0001,vjfwqb,Black T-Shirt M,19.0,1,Black,T-Shirt,M,M,1941/11/9,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,59.6.231.115,True
13060,2016-06-29,12,HTS-333018-0001,333018,Other Hoodie M/F,23.0,1,Other,Hoodie,M/F,NaN,1950/3/20,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,144.166.222.43,False
13061,2015-11-24,16,HTS-021969-0001,021969,Black T-Shirt F,17.5,1,Black,T-Shirt,F,M,1954/12/3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,72.168.42.167,False
13062,2016-08-05,11,HTS-k0batl-0001,k0batl,White T-Shirt M,20.0,2,White,T-Shirt,M,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [12]:
merged_data.to_csv('merged_data.csv', index = False)

In [13]:
pd.read_csv('merged_data.csv')

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_color,tshirt_type,tshirt_sex,gender,birthdate,user_agent,ip_address,campaign
0,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,White,T-Shirt,M,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True
1,2016-07-23,5,HTS-88ua9r-0002,88ua9r,Other Hoodie M/F,23.0,2,Other,Hoodie,M/F,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True
2,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,Black,T-Shirt,F,F,1941/3/28,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,79.242.189.178,True
3,2015-05-09,13,HTS-061311-0002,061311,Black T-Shirt F,17.5,7,Black,T-Shirt,F,F,1941/3/28,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,79.242.189.178,True
4,2015-11-24,15,HTS-je57lh-0001,je57lh,Other Hoodie M/F,23.0,3,Other,Hoodie,M/F,M,1953/3/12,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,110.116.130.200,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13058,2016-04-27,11,HTS-582873-0002,582873,White T-Shirt M,20.0,3,White,T-Shirt,M,M,1974/1/21,Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) ...,79.116.70.161,False
13059,2016-07-08,9,HTS-vjfwqb-0001,vjfwqb,Black T-Shirt M,19.0,1,Black,T-Shirt,M,M,1941/11/9,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,59.6.231.115,True
13060,2016-06-29,12,HTS-333018-0001,333018,Other Hoodie M/F,23.0,1,Other,Hoodie,M/F,NaN,1950/3/20,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,144.166.222.43,False
13061,2015-11-24,16,HTS-021969-0001,021969,Black T-Shirt F,17.5,1,Black,T-Shirt,F,M,1954/12/3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,72.168.42.167,False
13062,2016-08-05,11,HTS-k0batl-0001,k0batl,White T-Shirt M,20.0,2,White,T-Shirt,M,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False